body{
  background-color: #c0dbe2;
}

/* Image */
.drakeimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  }

/* Main content */
.about{
  max-width: 1500px;
  margin: 40px auto 0 auto;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;

  }

.text{
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex: 1;
  flex-basis: 31%;
  font-size: 16px;

}

/* Videos */
.videos{
  max-width: 1500px;
  margin: 40px auto 0 auto;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
}

.vid{
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex: 1;
  flex-basis: 50%;
}
/* Button */
.btn-primary{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  height: 40px;

}

.btn-primary:hover{
  background-color: white;
  border-color: white;
}

a{
  color:white;
  font-family: serif;
  font-size: 16px;

}

.btn-primary:hover a{
  color: #007bff;
  text-decoration: none;
}

/* Footer */
.footer{
  height: 50px;
  width: 100%;
  background-color: #52606e;
  color: #969696;
  text-align: center;
  padding-top: 15px;
}
