body{
  background-color: #c0dbe2;
}

/* Image */
.drakeimg{ /* Centering the image at the top of the page and giving it height and width and border radius */
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  }

/* Main content */
.about{ /* giving main content max width */
  max-width: 1500px;
  margin: 40px auto 0 auto;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;

  }

.text{ /* giving the text some padding, I have 3 div that contains text on my page and every div is taking 1/3 of the space of main content div which has max width of 1500px */
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex: 1;
  flex-basis: 31%;
  font-size: 16px;

}

/* Videos */
.videos{ /* I did same as main content */
  max-width: 1500px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.vid{ /* I did same as text */
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex: 1;
  flex-basis: 50%;
}
/* Button */
.btn-primary{ /* centering the button */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  height: 40px;

}

.btn-primary:hover{ /* changing the color of the button on hover */
  background-color: white;
  border-color: white;
}

a{
  color:white;
  font-family: serif;
  font-size: 16px;

}

.btn-primary:hover a{ /* changing the color of the text inside the button on hover */
  color: #007bff;
  text-decoration: none;
}

/* Footer */
.footer{ /* giving the footer height, width and backgroung color... */
  height: 50px;
  width: 100%;
  background-color: #52606e;
  color: #969696;
  text-align: center;
  padding-top: 15px;
}
